* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    margin-bottom: 2rem;
}
button {
    padding: 1rem;
    background-color: #06662b;
    text-transform: uppercase;
    border: 0;
    outline: none;
    transition: all ease .2s;
    cursor: pointer;
}
button:hover, button:hover a {
    background-color: #FFFFFF;
    color: #06662b;
}
a { 
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
