* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
}
section {
    width: 80vw;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}
a {
    color: #397FC4; font-weight: bold;
    text-decoration: none;
    transition: all ease .2s;
}
a:hover {
    color: #FF0000;
}
aside {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none; 
    padding-left: 0;
    margin-bottom: 1rem;
    width: 100%;
}
li {
    color: lightgray; 
    padding: .5rem 0; 
    border-bottom: 1px solid lightgray;
}
form {
    display:flex;
    flex-direction: column; 
}
input {
    width: 100%; 
    padding: .6rem; 
    border: 1px solid lightgray; 
    border-right: none;
    outline: none;
}
button {
    border: 1px solid lightgray; 
    border-left: none; 
    background: none;
}
button, a {
    cursor: pointer;
}
img {
    width: 2rem;
}
.search {
    display: flex;
    width: 100%;
}
.post {
    width: 40%; 
    min-width: 400px;
    margin: .5rem; 
    border: 1px solid lightgray; 
    border-radius: .5rem; 
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
}
.post--image {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}
.post--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.post--info h1 {
    text-transform: capitalize;
}
.post--info p {
    margin: 1rem 0;
    line-height: 1.5;
    color: lightgray;
}
.post--info a {
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 1200px) {
    main {
        flex-direction: column;
    }
    section {
        width: 100vw;
    }
    aside {
        width: 90vw;
        padding: 2rem;
    }
}
@media(max-width:800px) {
    .post {
        width: 90vw;
        margin: .5rem 0;
    }
}